.cardapio{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    padding: 32px 80px;
}

.cardapio-titulo{
    height: 65px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.cardapio-titulo h3{
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 2.5rem;
}

.cardapio-favoritos{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 32px;
}

.header-area{
    display: flex;
    justify-content: space-between;
}

.header-area p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
}

.produtos-container{
    display: flex;
    justify-content: space-between;
}

.cardapio-menu{
    background-color: tan;
    height: 100px;
}

.cardapio-bebidas{
    background-color: violet;
    height: 100px;
}