.home{
    background-image: url(../img/background-tablet.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.conteudo-container{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0px 100px;
}

.conteudo-container .texto{
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-container .texto h2{
    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
} 
.conteudo-container div{
    display: flex;
    justify-content: flex-start;
    width: 900px;
}
.texto-laranja{
    color: var(--cor-primaria);
}


.destaque-container{
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.destaque-container .destaque-container-all{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px){
    .conteudo-container img{
        display: none;
    }

    .destaque-container .destaque-container-all{
        flex-direction: column;
    }
    .destaque-container{
        height: 412px;
    }
}