.produto{
    position: relative;
}

.produto .info{
    bottom: 10px;
    position: absolute;
    background-color: var(--cor-sombra);
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--cor-branco);
    padding: 0px 12px;
    border-radius: 0px 0px 12px 12px;
    transition: 1s;
    opacity: 0;
}
.produto:hover .info{
    opacity: 1;
}
.produto .add{
    position: absolute;
    top: 0px;
    right: -16px;
    opacity: 0;
    transition: 1s;
}
.produto:hover .add{
    opacity: 1;
}

.produto .info-texto{
    width: 140px;
}

.produto .info-preco{
    background-color: var(--cor-primaria);
    padding: 4px 8px;
    border-radius: 8px;
}