.servicos{
    background-color: var(--cor-terciaria);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 32px 80px 64px 80px;
    gap: 32px;
}

.servicos-titulo{
    display: flex;
    align-items: center;
    height: 65px;
    gap: 32px;
}
.servicos-titulo h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

.servicos-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicos-conteudo .servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    border: 4px solid var(--cor-primaria);
    border-radius: 24px;
    gap: 32px;
    padding: 0px 48px;
}
.servicos-conteudo .servico .servico-icon{
    width: 100px;
    color: var(--cor-primaria);
}
.servicos-conteudo .servico .servico-titulo{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--cor-primaria);
    text-shadow: 2px 2px 4px var(--cor-sombra);
}
.servicos-conteudo .servico .servico-texto{
    text-align: center;
    text-shadow: 2px 2px 8px var(--cor-sombra);
}