:root{
    --cor-primaria: #F07807;
    --cor-secundaria: #FBDDC1;
    --cor-terciaria: #FEF8F2;
    --cor-branco: #fff;
    --cor-preta: #000;
    --cor-sombra: #0008;
}

body{
    background-color: var(--cor-secundaria);
    font-family: 'Poppins', sans-serif;
}



section{
    width: 100%;
    height: 100vh;
}

.linha{
    border-bottom: 2px solid var(--cor-primaria);
}