:root{
    --cor-primaria: #F07807;
    --cor-secundaria: #FBDDC1;
    --cor-terciaria: #FEF8F2;
    --cor-branco: #fff;
    --cor-preta: #000;
    --cor-sombra: #0008;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-secundaria);
    font-family: 'Poppins', sans-serif;
}

.link-home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    width: 64px;
    height: 64px;
    left: 50%;
    bottom: 0;
    font-size: 80px;
    transform: translateX(-50%) rotate(90deg);
    z-index: 9999;
    color: var(--cor-primaria);
    animation: pulando 1s alternate infinite;
}

section{
    width: 100%;
    height: 100vh;
}

.linha{
    border-bottom: 2px solid var(--cor-primaria);
}

@keyframes pulando{
    0%{
        transform: translateX(-50%) rotate(90deg) scale(1);
    }
    100%{
        transform: translateX(-50%) rotate(90deg) scale(1.3);
        color: var(--cor-secundaria);
    }
}

@media (max-width:768px){
    .link-home{
        display: none;
    }
}